version: '3.8'

services:
  app-bastao:
    build: .
    container_name: central_bastao
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - TZ=America/Sao_Paulo
